/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Mar-2014, 6:57:45 PM
    Author     : Johnny
*/

.input-group {
    margin-bottom: 10px;
}

.current-doctor {
    margin-bottom: 20px;
}

#eventModal .input-group-addon {
    width: 100px;
    text-align: right;
}

#eventModal .input-group {
    width: 100%;
}
#load-btn {
    padding: 3px 7px;
    margin-left: 10px;
}

#appointmentHeader {
    font-weight:bold;
}