<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="projectPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>ece356.Surgeries</class>
    <class>ece356.Procedures</class>
    <class>ece356.Permissions</class>
    <class>ece356.Appointments</class>
    <class>ece356.Visitations</class>
    <class>ece356.Patients</class>
    <class>ece356.Prescriptions</class>
    <class>ece356.StaffAssignments</class>
    <class>ece356.Doctors</class>
    <class>ece356.Directory</class>
    <class>ece356.Diagnoses</class>
    <class>ece356.Licenses</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://sql3.freemysqlhosting.net:3306/sql332230?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="mJ7!yB9!"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="sql332230"/>
    </properties>
  </persistence-unit>
</persistence>
