<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ece356.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>ece356.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientServlet</servlet-name>
        <servlet-class>ece356.PatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ece356.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentsServlet</servlet-name>
        <servlet-class>ece356.AppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorServlet</servlet-name>
        <servlet-class>ece356.DoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLookupServlet</servlet-name>
        <servlet-class>ece356.DoctorLookupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSummaryServlet</servlet-name>
        <servlet-class>ece356.DoctorSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookupPatientSummaryServlet</servlet-name>
        <servlet-class>ece356.LookupPatientSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVisitationRecordCreateFormServlet</servlet-name>
        <servlet-class>ece356.AddVisitationRecordCreateFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVisitationRecordInsertServlet</servlet-name>
        <servlet-class>ece356.AddVisitationRecordInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookupPatientServlet</servlet-name>
        <servlet-class>ece356.LookupPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPatientInfoServlet</servlet-name>
        <servlet-class>ece356.GetPatientInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentsServlet</servlet-name>
        <url-pattern>/Appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorServlet</servlet-name>
        <url-pattern>/DoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLookupServlet</servlet-name>
        <url-pattern>/DoctorLookupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSummaryServlet</servlet-name>
        <url-pattern>/DoctorSummaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientServlet</servlet-name>
        <url-pattern>/PatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookupPatientSummaryServlet</servlet-name>
        <url-pattern>/LookupPatientSummaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVisitationRecordCreateFormServlet</servlet-name>
        <url-pattern>/AddVisitationRecordCreateFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVisitationRecordInsertServlet</servlet-name>
        <url-pattern>/AddVisitationRecordInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookupPatientServlet</servlet-name>
        <url-pattern>/LookupPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPatientInfoServlet</servlet-name>
        <url-pattern>/GetPatientInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
